<%- include('../includes/head.ejs') %>
</head>

<body class='wrapper'>

  <%- include ('../includes/navigation.ejs') %>

  <h1>Products list!</h1>
    <main></main>
    <footer></footer>

   
    <%- include('../includes/end.ejs') %>